.Game{
    margin-top: 10vh;
    margin-left: 20vw;
    margin-right: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap-reverse;
    box-shadow: 0px 5px 20px gray;
    background-color: rgba(67, 219, 230, 0.4);
    border-radius: 1%;
}
.tinder{
    width: 40vh;
    height: 60vh;
    z-index: 1;
}
.last_card{
    width: 35vh;
    height: 60vh;
    z-index: -1;
}

button{
    border-radius: 100%;
    font-size: 0%;
    font-family: inherit;
    border: none;
    padding: 0;
    outline:none;
    background-color:transparent;
    color: transparent;
    margin-bottom: 5px;
}

button:hover {
    border-radius: 100%;
    background-color: rgba(250, 253, 253, 0.863);
    cursor: pointer;
  }

button:active {
    background-color: rgba(42, 161, 161, 0.623);
    /* box-shadow: 0 1px rgb(136, 135, 135); */
    transform: translateY(1px);
  }