.card{
    border-radius: 10px;
    box-shadow: 0px 5px 20px gray;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: rgba(67, 219, 230, 0.4);
    align-items: center;
    width: 40vh;
    height: 60vh;
    overflow: hidden;
}
.imageDiv{
    overflow: hidden;
}
.textDiv{
    overflow: hidden;
    margin: 10px;
    text-align: left;
    align-items: center;
}
